
.header {
	line-height: 110px;
}
.navigation {
	background-color: #fff !important;
}
.logo {
	width: 150px;
}
.link {
	background-color: #F86908;


}
.font {
	font-family: "BPG Nino Mtavruli", sans-serif !important;
}
.link a {
	font-weight: bold;
	color: white !important;
}
.font-weight {
	font-weight: bold !important;
	color: black !important;
}
.banner {
	background-image: url("../img/Artboard.jpg");
	background-repeat: no-repeat;
	height: 480px;
	background-size: cover;
	background-position: center;
}